.container {
  min-height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
}

.submit {
  background-color: white;
  border: none;
  border-radius: 2rem;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
}

.home {
  background-color: white;
  border: none;
  border-radius: 2rem;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
}
